$select: ".fwp" !default;
$breakpoint: 1000px !default;

@use "../../Shared/css/template/shoppingcart/layouts/section";
@use "../layouts/position" with (
    $select: $select,
    $breakpoint: $breakpoint
);

@use "../../Shared/css/template/shoppingcart/components/copy";

@mixin new {
    @include position.new;

    #{$select} {
        color: white;
        background: black;
        font-size: 1.6rem;

        &__stage {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            @include section.frame;
            text-align: right;
        }

        &__content {
            flex: 1;
            @include copy.separate(1rem);
        }

        &--reverse &__stage {
            justify-content: flex-start;
            text-align: left;
        }

        @content;
    }
}

@mixin flip {
    #{$select}--flip {
        @include position.flip {
            &__underlay {
                img {
                    object-fit: cover;
                }
            }
        }
    }
}

@mixin homepage {
    #{$select}--homepage {
        font-size: 2rem;

        h1 {
            font-size: 3.5rem;
            line-height: 1;
        }

        @media all and (max-width: $breakpoint) {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
                z-index: 2;
            }
        }

        #{$select} {
            &__standfirst {
                text-transform: uppercase;
            }

            &__stage {
                align-items: flex-start;
            }

            &__content {
                text-align: center;
                flex: 0 1 30em;
            }
        }
    }
}
