@use "../../../Shared/css/template/shoppingcart/layouts/group";
@use "../layouts/slide";
@use "../../../Shared/css/template/shoppingcart/components/copy";
@use "../themes/fonts";
@use "../themes/colors";
@use "../config/queries";

$select: ".story-card" !default;
$item-basis: 30rem !default;
$picture-width: 30rem !default;
$group-carousel: 600px !default;

@mixin new(
    $select: $select,
    $item-basis: $item-basis,
    $picture-width: $picture-width
) {
    #{$select} {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-family: fonts.get(primary), sans-serif;
        font-weight: bold;
        font-size: 1.9rem;

        &__group {
            @include group.contain;
            @include group.gutter;
            flex: 1 1 100%;
            align-items: stretch;
            justify-content: flex-start;

            @media screen and (max-width: 815px) {
                justify-content: space-around;
            }

            > * {
                flex: 1 1 $item-basis;
            }
        }

        &__fill {
            width: 100%;
            flex: 1 1 100%;
        }

        &__item {
            display: flex;
            flex-direction: column;
        }

        picture {
            margin: auto;
        }

        figure {
            @include copy.separate;
            display: flex;
            flex-direction: column;

            > * {
                flex: 0 1 auto;
            }
        }

        figcaption {
            flex: 1 1 auto;
        }

        @content;
    }
}

@mixin max-four {
    #{$select} {
        &--max-four > &__group {
            max-width: 180rem;
            @include group.gutter(1rem);
        }

        &--max-four {
            @content;
        }
    }
}

@mixin max-three {
    #{$select} {
        &--max-three > &__group {
            @include group.gutter(0);
            justify-content: center;
        }

        &--max-three {
            @content;
        }
    }
}

@mixin max-two {
    #{$select} {
        &--max-two > &__group {
            max-width: 100rem;
            @include group.gutter(2rem);
            margin: auto;
            justify-content: center;
            @media all and (max-width: queries.get(mobile)) {
                @include group.gutter(1rem);
            }
        }

        &--max-two {
            @content;
        }
    }
}

@mixin buttons {
    #{$select} {
        &__buttons {
            display: flex;
            flex-wrap: wrap;

            @include group.gutter(1rem);

            > a {
                flex: 0 1 auto;
            }
        }
    }
}

@mixin image-link {
    #{$select} {
        &__image-link {
            position: relative;
            border: 3px solid transparent;
            transition: border-color 0.3s ease-in-out;

            &:hover,
            &:focus {
                border-color: currentColor;
            }
        }
    }
}

@mixin image-button {
    #{$select} {
        &__image-link > &__image-button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

@mixin carousel($breakpoint: $group-carousel) {
    @media all and (min-width: $breakpoint) {
        #{$select} {
            &--carousel {
                #{$select} {
                    &__group {
                        @include group.item-basis($item-basis);
                    }
                }

                @include slide.take-out-thumbnails($select);
                @include slide.take-out-nav($select);
            }
        }
    }

    @media all and (max-width: $breakpoint) {
        #{$select} {
            &--carousel {
                @include slide.convert-to-carousel($select);

                &#{$select}--max-four {
                    #{$select} {
                        &__nav {
                            top: 41vw;
                            bottom: auto;
                            margin: 0;
                        }
                    }
                }

                &#{$select}--videos {
                    #{$select} {
                        &__nav {
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}

@mixin image-caption {
    #{$select} {
        &--image-caption {
            h3 {
                text-transform: uppercase;
                color: white;
                background: colors.get(accent);
                padding: 1rem;
            }

            #{$select} {
                &__item {
                    text-decoration: none;
                }
            }
        }
    }
}
