/**
* @prettier
*/
.group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin: -0.5rem;
}
.group > * {
  flex: 0 1 auto;
}
.group > * {
  margin: 0.5rem;
}

.bg picture,
.bg [data-src-img],
.bg [data-src-iframe] {
  background: whitesmoke;
}

.bg--image {
  position: relative;
}
.bg--image .bg__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}
.bg--image .bg__image img {
  width: 100%;
  height: auto;
}
@supports (object-fit: cover) {
  .bg--image .bg__image img {
    height: 100%;
    object-fit: cover;
  }
}

.bg--dark {
  background: black;
  color: white;
}
.bg--dark::selection,
.bg--dark ::selection {
  background: white;
  color: black;
}
.bg--dark a:focus,
.bg--dark button:focus,
.bg--dark [tabindex="0"]:focus {
  outline-color: white;
}

.title {
  margin: 2rem 0;
  font-weight: bold;
  font-family: bebas-neue-pro-expanded, sans-serif;
  text-transform: uppercase;
}
.title__picture {
  margin: auto;
}
.title__text > small {
  display: block;
}
.title__text sup {
  font-size: 0.6em;
}
.title__small {
  font-size: 80%;
}
.title__light {
  font-weight: 400;
  text-transform: none;
}
.title__center {
  text-align: center;
}

.article {
  font-size: 2rem;
}
.article__title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
}
.article h1,
.article h2 {
  font-size: 3rem;
}
.article__copy > * + * {
  margin-top: 2rem;
}
.article ol,
.article ul {
  margin-left: 2.5rem;
}
.article ol > * + *,
.article ul > * + * {
  margin-top: 1rem;
}
.article .article__card-list {
  margin: 0;
}

.footer {
  text-align: center;
  font: 1.4rem/1.45 europa, sans-serif;
}
.footer__disclaimer {
  margin: 2em auto;
  border: 1px solid currentColor;
  padding: 2em;
  text-align: left;
}
.footer__disclaimer p {
  margin: 0;
}
.footer__disclaimer p:not(:first-of-type) {
  margin-top: 1em;
  margin-bottom: 0;
}
.footer__disclaimer form {
  display: none;
}
.footer__disclaimer .button {
  margin-top: 1em;
}
.footer nav {
  max-width: 70em;
  margin: auto;
}
.footer__logo {
  margin: 3rem auto;
}

.social {
  font-size: 1.5em;
  margin: -1.5rem;
  display: flex;
  justify-content: center;
}
.social > * {
  margin: 1.5rem;
}
.social__icon {
  stroke: none;
  fill: currentColor;
}

.list {
  list-style: none;
}
.list > * {
  display: list-item;
  break-inside: avoid;
}
.list > *:not(:last-child) {
  margin-bottom: 1rem;
}

.list--inline > *:not(:last-child)::after {
  content: "|";
  margin: 0 1rem;
}
.list--inline > * {
  display: inline-block;
}

.toast__close {
  flex: 0 0 auto;
  width: 3em;
  height: 3em;
  display: block;
  border: none;
  background: none;
  position: relative;
}
.toast__close::before, .toast__close::after {
  content: "";
  width: 0.2em;
  height: inherit;
  background: currentColor;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: transform 300ms ease-out 0.35s;
}
.toast__close::before {
  transform-origin: top right;
  transform: rotateZ(-45deg) scaleY(1.35);
  right: auto;
}
.toast__close::after {
  transform-origin: top left;
  transform: rotateZ(45deg) scaleY(1.35);
  transition-delay: 0.7s;
  left: auto;
}
.toast--hidden .toast__close::before {
  transform: rotateZ(-45deg) scaleY(0);
}
.toast--hidden .toast__close::after {
  transform: rotateZ(45deg) scaleY(0);
}

.toast {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
.toast__stage {
  text-align: left;
  background: white;
  color: black;
  padding: 2rem;
  transform: translateY(0);
  pointer-events: all;
}
@media all and (min-width: 600px) {
  .toast__stage {
    margin: 1rem;
  }
}
.toast--is-ready .toast__stage {
  transition: transform 0.5s cubic-bezier(0.04, 0.64, 0.2, 1), opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.toast--hidden .toast__close::before {
  transition-delay: 0.35s;
}
.toast--hidden .toast__close::after {
  transition-delay: 0.7s;
}
.toast--hidden .toast__stage {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
}
.toast--alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  transition-delay: 1s;
  pointer-events: none;
}
.toast--alert .toast__stage {
  box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.35);
}
.toast__text {
  flex: 0 1 auto;
  text-align: center;
}
.toast__group {
  margin: -1rem;
  overflow: hidden;
}
.toast__group > * {
  margin: 1rem;
}
.toast__close {
  font-size: 0.35em;
  position: relative;
  z-index: 2;
}
.toast__close::before {
  transition-delay: 0.35s;
}
.toast__close::after {
  transition-delay: 0.7s;
}

.toast--polite {
  align-items: flex-end;
  bottom: 2rem;
}

.toast[data-state=valid] > .toast__stage {
  background: #ebf9eb;
  color: #025002;
}
.toast[data-state=invalid] > .toast__stage {
  background: #ffebeb;
  color: #860000;
}

.contain--circle {
  border-radius: 100%;
}
.contain--circle::before {
  padding-bottom: calc(100% / (1));
}

.video-placeholder {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.slide__into {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 0.25rem;
  border-color: #252525;
  contain: content;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}
.slide__into::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
  background: #d7d7d7;
}
.slide__into::-webkit-scrollbar-thumb {
  background: black;
}
.slide__item {
  display: flex;
  align-items: center;
  flex: 1 0 100%;
  scroll-snap-align: start;
  position: relative;
}
.slide img {
  display: block;
  object-fit: cover;
  height: auto;
  max-width: 100%;
}
.slide .slide__video {
  align-items: center;
}
.slide .slide__video img {
  height: auto;
  bottom: 0;
  margin: auto;
}
.slide__is-hidden {
  display: none;
}
.slide--vertical .slide__into {
  flex-direction: column;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}
.slide .slide__into--no-scroll {
  overflow: hidden;
}
.slide__caption {
  position: absolute;
  bottom: 1em;
  left: 0;
  display: flex;
  justify-content: center;
  right: 0;
}
.slide__caption__text {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 1.1em;
  padding: 0.25em 1em;
  border-radius: 2em;
  text-align: center;
  min-width: 10em;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.5);
}

.slide {
  position: relative;
}
.slide__into {
  z-index: 1;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.slide__into::-webkit-scrollbar {
  height: 0.5em;
  background: rgba(0, 0, 0, 0.2);
}
.slide__into::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
.slide--no-scrollbar .slide__into {
  scrollbar-width: none;
}
.slide--no-scrollbar .slide__into::-webkit-scrollbar {
  display: none;
}
.slide__item,
.slide__item img {
  margin: 0;
}
.slide__next {
  transform: rotate(0.5turn);
}
.slide__nav {
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 5em;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.slide__nav button {
  opacity: 0;
  color: currentColor;
  padding: 0.05em;
  font-size: 3em;
  position: relative;
  z-index: 2;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 100ms linear, color 100ms linear, opacity 250ms ease-in-out 1s;
}
.slide__nav button:hover, .slide__nav button:focus {
  background: black;
  border-color: white;
  color: white;
}
.slide__nav button:focus {
  outline-color: black;
}
@media all and (min-width: 1000px) {
  .slide__nav {
    position: absolute;
  }
}
@media all and (min-width: 1000px) {
  .slide__nav--extend .slide__prev {
    left: -2em;
  }
  .slide__nav--extend .slide__next {
    right: -2em;
  }
}
.slide__thumbnails {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  justify-content: center;
  margin: 0.5em;
  margin: -0.5rem;
}
.slide__thumbnails > * {
  margin: 0.5rem;
}
.slide__thumbnail {
  position: relative;
  flex: 1;
}
.slide__thumbnail:focus {
  outline-color: black;
}
.slide__thumbnail::before, .slide__thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.slide__thumbnail::before {
  background: whitesmoke;
  opacity: 1;
}
.slide__thumbnail::after {
  display: block;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.slide__thumbnail--is-selected::after {
  opacity: 1;
}
.slide__dot {
  width: 0.5em;
  height: 0.5em;
  margin: 0.5em;
  font-size: 4rem;
  border-radius: 0.5em;
  border: 1px solid gray;
  overflow: hidden;
  flex: 0 0 0.5em;
  transition: transform 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.slide__dot:focus {
  -webkit-mask-image: none;
}
.slide--is-ready .slide__nav button {
  opacity: 1;
  pointer-events: all;
}
@media all and (min-width: 1000px) {
  .slide__nav {
    color: white;
  }
  .slide__prev {
    left: 1em;
  }
  .slide__next {
    right: 1em;
  }
}

@media all and (max-width: 1000px) {
  .slide__nav {
    width: 70%;
    flex: 1 100%;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
  }
  .slide__prev {
    left: 0;
  }
  .slide__next {
    right: 0;
  }
}
.form {
  min-width: 0;
}
.form__title {
  font-size: 3.6rem;
  text-align: center;
  margin: 1rem;
}
@media all and (max-width: 1200px) {
  .form__title {
    font-size: clamp(2.5rem, 7vw, 3.6rem);
  }
}
.form__is-hidden {
  display: none;
}
.form__contain {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  border: solid transparent;
  border-width: 3px;
  min-width: 0;
  min-inline-size: 0;
}
.form__contain > * {
  flex: 0 1 auto;
}
.form__field {
  flex: 1;
  display: inline-flex;
  align-items: center;
  min-width: 0;
  padding: 1rem;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background: white;
  color: black;
  font-family: inherit;
}
.form__error {
  color: #c00;
  font-weight: bold;
}

.story-card--image-caption h3 {
  text-transform: uppercase;
  color: white;
  background: #666666;
  padding: 1rem;
}
.story-card--image-caption .story-card__item {
  text-decoration: none;
}

.fwp {
  position: relative;
}
.fwp__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 2;
}

.fwp {
  color: white;
  background: black;
  font-size: 1.6rem;
}
.fwp__stage {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  text-align: right;
}
.fwp__content {
  flex: 1;
}
.fwp__content > * + * {
  margin-top: 1rem;
}
.fwp--reverse .fwp__stage {
  justify-content: flex-start;
  text-align: left;
}

@media all and (max-width: 1000px) {
  .fwp--flip .fwp__overlay {
    position: relative;
  }
  .fwp--flip .fwp__underlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
  }
  .fwp--flip .fwp__underlay img {
    object-fit: cover;
  }
}

.fwp--homepage {
  font-size: 2rem;
}
.fwp--homepage h1 {
  font-size: 3.5rem;
  line-height: 1;
}
@media all and (max-width: 1000px) {
  .fwp--homepage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
}
.fwp--homepage .fwp__standfirst {
  text-transform: uppercase;
}
.fwp--homepage .fwp__stage {
  align-items: flex-start;
}
.fwp--homepage .fwp__content {
  text-align: center;
  flex: 0 1 30em;
}

@media all and (min-width: 600px) {
  .contain--photo-bar::before {
    padding-bottom: calc(100% / (2.1818181818));
  }
}
@media all and (max-width: 600px) {
  .contain--photo-bar::before {
    padding-bottom: calc(100% / (2.3529411765));
  }
}

.product--grid {
  font-weight: bold;
}
.product--grid .product__group {
  flex-direction: column;
}
.product--grid .product__item {
  flex: 0 1 40rem;
}
.product--grid .product__content {
  margin-top: auto;
}
.product--grid .product__price {
  border-top: 1px solid;
  margin-top: 1rem;
  padding-top: 1rem;
}
.product--grid .product__nav {
  justify-content: center;
}
.product--grid .product__nav > a {
  flex: 1 1 12rem;
}

.story-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: europa, sans-serif;
  font-weight: bold;
  font-size: 1.9rem;
  margin-bottom: 2em;
}
.story-card__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin: -0.5rem;
  margin: -0.5rem;
  flex: 1 1 100%;
  align-items: stretch;
}
.story-card__group > * {
  flex: 0 1 auto;
}
.story-card__group > * {
  margin: 0.5rem;
}
.story-card__group > * {
  margin: 0.5rem;
}
.story-card__group > * {
  flex: 1 1 30rem;
}
.story-card__fill {
  width: 100%;
  flex: 1 1 100%;
}
.story-card__item {
  display: flex;
  flex-direction: column;
}
.story-card picture {
  margin: auto;
}
.story-card figure {
  display: flex;
  flex-direction: column;
}
.story-card figure > * + * {
  margin-top: 1rem;
}
.story-card figure > * {
  flex: 0 1 auto;
}
.story-card figcaption {
  flex: 1 1 auto;
}

.story-card--max-two > .story-card__group {
  max-width: 100rem;
  margin: -2rem;
}
.story-card--max-two > .story-card__group > * {
  margin: 2rem;
}
.story-card__image-link {
  position: relative;
  border: 3px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.story-card__image-link:hover, .story-card__image-link:focus {
  border-color: currentColor;
}

.story-card__image-link > .story-card__image-button {
  position: absolute;
  top: 0;
  right: 0;
}

.product {
  font-size: 1.8rem;
}
.product__group {
  display: flex;
  justify-content: flex-start;
  margin: -1rem;
}
.product__group > * {
  margin: 1rem;
}
.product__carousel {
  flex: 0 1 101rem;
}
.product__form {
  flex: 1 1 50rem;
}
.product__copy > * + * {
  margin-top: 1rem;
}
.product__title {
  font-size: 2.4rem;
}
.product__price {
  font-size: 1.8rem;
}
.product__contain {
  max-width: 50rem;
}
.product__nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  margin: -1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.product__nav > * {
  margin: 1rem;
}
.product__nav > a {
  flex: 0 1 auto;
}
.product__label {
  font-size: 1.8rem;
}
.product__link {
  display: block;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.form--icon-field-combobox .form__contain {
  border: 1px solid currentColor;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  min-height: 3.75em;
}
.form--icon-field-combobox .form__input {
  text-align: center;
  flex: 2 1 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  outline: 0;
  border: 0;
}
.form--icon-field-combobox .form__input, .form--icon-field-combobox .form__input[disabled] {
  opacity: 1;
}
.form--icon-field-combobox .form__input::-webkit-inner-spin-button, .form--icon-field-combobox .form__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.form--icon-field-combobox .form__button {
  flex: 1 1 4em;
  justify-content: center;
  max-width: 4em;
  min-height: 4em;
  font-size: 0.9em;
  outline: 1px solid currentColor;
  position: relative;
}
.form--icon-field-combobox .form__button::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: "";
  background: whitesmoke;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.form--icon-field-combobox .form__button > * {
  position: relative;
}
.form--icon-field-combobox .form__button:hover::before, .form--icon-field-combobox .form__button:focus::before {
  opacity: 1;
}

.form--label-combobox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -1rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.form--label-combobox > * {
  margin: 1rem;
}
.form--label-combobox .form__label {
  flex: 0 1 auto;
}
.form--label-combobox .form__contain {
  flex: 0 1 12em;
}

.form--select .form__contain {
  position: relative;
}
.form--select .form__field {
  height: 5rem;
  flex: 1;
}
@supports (height: auto) {
  .form--select .form__field {
    height: auto;
  }
}
.form--select .form__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 6rem;
  min-height: 0;
  margin: 2px;
  height: calc(100% - 4px);
  pointer-events: none;
  justify-content: center;
  background: transparent;
  border: 0;
  outline: 0;
  background: white;
}
.form--select .form__button::before {
  content: "";
  height: 100%;
  width: 1px;
  background: currentColor;
  position: absolute;
  left: 0;
  top: 0;
}

.dtm .product [class*=icon-] {
  font-family: inherit;
  font-weight: normal;
  font-style: inherit;
  font-variant: inherit;
  line-height: inherit;
  text-transform: inherit;
}

.story-card__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}
.story-card__buttons > * {
  margin: 1rem;
}
.story-card__buttons > a {
  flex: 0 1 auto;
}

.form-header-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -1rem;
}
.form-header-banner > * {
  margin: 1rem;
}
.form-header-banner h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.form-header-banner fieldset {
  flex-wrap: wrap;
}
.form-header-banner fieldset > input {
  flex: 1 1 15rem;
}
.form-header-banner fieldset > button {
  flex: 1 1 15rem;
}
.form-header-banner input {
  margin: 0 0.4em;
}

/*# sourceMappingURL=index.css.map */
