@charset "UTF-8";
/**
* @prettier
*/
.group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin: -0.5rem;
}
.group > * {
  flex: 0 1 auto;
}
.group > * {
  margin: 0.5rem;
}

.bg picture,
.bg [data-src-img],
.bg [data-src-iframe] {
  background: whitesmoke;
}

.bg--image {
  position: relative;
}
.bg--image .bg__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}
.bg--image .bg__image img {
  width: 100%;
  height: auto;
}
@supports (object-fit: cover) {
  .bg--image .bg__image img {
    height: 100%;
    object-fit: cover;
  }
}

.bg--dark {
  background: black;
  color: white;
}
.bg--dark::selection,
.bg--dark ::selection {
  background: white;
  color: black;
}
.bg--dark a:focus,
.bg--dark button:focus,
.bg--dark [tabindex="0"]:focus {
  outline-color: white;
}

.title {
  margin: 2rem 0;
  font-weight: bold;
  font-family: bebas-neue-pro-expanded, sans-serif;
  text-transform: uppercase;
}
.title__picture {
  margin: auto;
}
.title__text > small {
  display: block;
}
.title__text sup {
  font-size: 0.6em;
}
.title__small {
  font-size: 80%;
}
.title__light {
  font-weight: 400;
  text-transform: none;
}
.title__center {
  text-align: center;
}

.article {
  font-size: 2rem;
}
.article__title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
}
.article h1,
.article h2 {
  font-size: 3rem;
}
.article__copy > * + * {
  margin-top: 2rem;
}
.article ol,
.article ul {
  margin-left: 2.5rem;
}
.article ol > * + *,
.article ul > * + * {
  margin-top: 1rem;
}
.article .article__card-list {
  margin: 0;
}

.footer {
  text-align: center;
  font: 1.4rem/1.45 europa, sans-serif;
}
.footer__disclaimer {
  margin: 2em auto;
  border: 1px solid currentColor;
  padding: 2em;
  text-align: left;
}
.footer__disclaimer p {
  margin: 0;
}
.footer__disclaimer p:not(:first-of-type) {
  margin-top: 1em;
  margin-bottom: 0;
}
.footer__disclaimer form {
  display: none;
}
.footer__disclaimer .button {
  margin-top: 1em;
}
.footer nav {
  max-width: 70em;
  margin: auto;
}
.footer__logo {
  margin: 3rem auto;
}

.social {
  font-size: 1.5em;
  margin: -1.5rem;
  display: flex;
  justify-content: center;
}
.social > * {
  margin: 1.5rem;
}
.social__icon {
  stroke: none;
  fill: currentColor;
}

.list {
  list-style: none;
}
.list > * {
  display: list-item;
  break-inside: avoid;
}
.list > *:not(:last-child) {
  margin-bottom: 1rem;
}

.list--inline > *:not(:last-child)::after {
  content: "|";
  margin: 0 1rem;
}
.list--inline > * {
  display: inline-block;
}

.toast__close {
  flex: 0 0 auto;
  width: 3em;
  height: 3em;
  display: block;
  border: none;
  background: none;
  position: relative;
}
.toast__close::before, .toast__close::after {
  content: "";
  width: 0.2em;
  height: inherit;
  background: currentColor;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: transform 300ms ease-out 0.35s;
}
.toast__close::before {
  transform-origin: top right;
  transform: rotateZ(-45deg) scaleY(1.35);
  right: auto;
}
.toast__close::after {
  transform-origin: top left;
  transform: rotateZ(45deg) scaleY(1.35);
  transition-delay: 0.7s;
  left: auto;
}
.toast--hidden .toast__close::before {
  transform: rotateZ(-45deg) scaleY(0);
}
.toast--hidden .toast__close::after {
  transform: rotateZ(45deg) scaleY(0);
}

.toast {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
.toast__stage {
  text-align: left;
  background: white;
  color: black;
  padding: 2rem;
  transform: translateY(0);
  pointer-events: all;
}
@media all and (min-width: 600px) {
  .toast__stage {
    margin: 1rem;
  }
}
.toast--is-ready .toast__stage {
  transition: transform 0.5s cubic-bezier(0.04, 0.64, 0.2, 1), opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.toast--hidden .toast__close::before {
  transition-delay: 0.35s;
}
.toast--hidden .toast__close::after {
  transition-delay: 0.7s;
}
.toast--hidden .toast__stage {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
}
.toast--alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  transition-delay: 1s;
  pointer-events: none;
}
.toast--alert .toast__stage {
  box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.35);
}
.toast__text {
  flex: 0 1 auto;
  text-align: center;
}
.toast__group {
  margin: -1rem;
  overflow: hidden;
}
.toast__group > * {
  margin: 1rem;
}
.toast__close {
  font-size: 0.35em;
  position: relative;
  z-index: 2;
}
.toast__close::before {
  transition-delay: 0.35s;
}
.toast__close::after {
  transition-delay: 0.7s;
}

.toast--polite {
  align-items: flex-end;
  bottom: 2rem;
}

.toast[data-state=valid] > .toast__stage {
  background: #ebf9eb;
  color: #025002;
}
.toast[data-state=invalid] > .toast__stage {
  background: #ffebeb;
  color: #860000;
}

.contain--circle {
  border-radius: 100%;
}
.contain--circle::before {
  padding-bottom: calc(100% / (1));
}

.video-placeholder {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.form {
  min-width: 0;
}
.form__title {
  font-size: 3.6rem;
  text-align: center;
  margin: 1rem;
}
@media all and (max-width: 1200px) {
  .form__title {
    font-size: clamp(2.5rem, 7vw, 3.6rem);
  }
}
.form__is-hidden {
  display: none;
}
.form__contain {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  border: solid transparent;
  border-width: 3px;
  min-width: 0;
  min-inline-size: 0;
}
.form__contain > * {
  flex: 0 1 auto;
}
.form__field {
  flex: 1;
  display: inline-flex;
  align-items: center;
  min-width: 0;
  padding: 1rem;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background: white;
  color: black;
  font-family: inherit;
}
.form__error {
  color: #c00;
  font-weight: bold;
}

.account {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
}
.account__banner {
  font-size: 5rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  background: black;
  color: white;
  padding: 2rem;
}
@media all and (max-width: 70rem) {
  .account__banner {
    font-size: 3rem;
    font-size: clamp(3rem, 4vw, 5rem);
  }
}
.account__contain {
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
}
.account__space {
  padding: 3rem 0;
}
.account__group {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.account__group > * {
  margin: 1rem;
}
.account__group > address {
  flex: 0 1 auto;
}
.account__form {
  flex: 2 1 30rem;
}
@media all and (max-width: 70rem) {
  .account__form {
    flex: 2 1 50rem;
  }
}
.account__divider {
  font-size: 1.2rem;
}
@media all and (min-width: 70rem) {
  .account__divider {
    flex: 0;
    flex-direction: column;
    padding: 0 2rem;
  }
}
@media all and (max-width: 70rem) {
  .account__divider {
    flex: 1 1 100%;
    flex-direction: row;
  }
}
.account__sidebar {
  flex: 1 1 30rem;
  text-align: center;
}
.account__copy > * + * {
  margin-top: 2rem;
}
.account__link {
  display: inline-block;
}
.account__nav > .account__group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.account__header {
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid currentColor;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.account__header:not(:first-child) {
  margin-top: 5rem;
}
.account address {
  font-style: normal;
}
.account__button > span:last-child {
  padding-left: 1rem;
}
.account hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: currentColor;
}

.account--checkout .account__checkout {
  flex: 1 1 25rem;
}
@media all and (max-width: 70rem) {
  .account--checkout .account__checkout {
    flex: 1 1 100%;
  }
}
@media all and (min-width: 70rem) {
  .account--checkout .account__checkout {
    order: 1;
  }
}
.account--checkout .account__shipping {
  flex: 1 1 100%;
}

.checkout {
  color: black;
}
.checkout__banner {
  background: #fafafa;
  border: 1px solid currentColor;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0;
}
.checkout > .checkout__banner {
  margin: 2rem 0;
}

.checkout--cart {
  background: #fafafa;
  border: 1px solid currentColor;
  padding: 3rem;
}
.checkout--cart > * + * {
  margin-top: 3rem;
}
.checkout--cart hr {
  background: currentColor;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
}

.checkout--order-item .checkout__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: -1rem;
}
.checkout--order-item .checkout__group > * {
  margin: 1rem;
}

.checkout--offer-details {
  background: white;
  padding: 2rem;
  border: 1px solid;
}
.checkout--offer-details > * + * {
  margin-top: 1rem;
}

.dtm__in .checkout-option {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2rem 0.5rem;
  margin: -0.5rem;
  margin: 0;
}
.dtm__in .checkout-option > * {
  margin: 0.5rem;
}
.dtm__in .checkout-option label {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: -0.5rem;
  min-width: 0;
  flex: 1 1 auto;
}
.dtm__in .checkout-option label > * {
  margin: 0.5rem;
}
.dtm__in .checkout-option img {
  min-width: 0;
  flex: 0 0 10rem;
  max-width: 10rem;
  min-height: 4rem;
}
.dtm__in .checkout-option [for=otCARD] img {
  flex: 0 0 5rem;
  max-width: 5rem;
  min-height: 2rem;
}

#dtm .checkout-option__img {
  margin: 0;
}
#dtm .checkout-option img {
  width: auto;
  height: auto;
}

.account__header + .checkout-option {
  margin-top: 1rem;
}

.c-brand--form__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.c-brand--form__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.c-brand--form__item > * {
  display: flex;
  flex: 1 1 auto;
}

.requiredIcon {
  color: #c00;
  margin-right: 0.5rem;
}

.reviewTable .reviewTable__wrap {
  padding: 0;
}

#facebox .fieldTxt {
  margin-top: 1rem;
}
#facebox .body {
  color: black;
}
#facebox input {
  background: white;
  border: 1px solid;
  padding: 1rem;
}
#facebox input[type=text] {
  margin-bottom: 1rem;
}
#facebox input[type=button] {
  border: 3px solid black;
  background: black;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
#facebox input[type=button]:focus, #facebox input[type=button]:hover {
  color: black;
  background: white;
}

.FormHeadlineL {
  display: none;
}

.order-table table {
  display: table;
  width: 100%;
  margin: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  text-align: left;
}
.order-table tr {
  display: table-row;
}
.order-table th,
.order-table td {
  padding: 1em;
  vertical-align: top;
  line-height: 1.25;
  border: 1px solid currentColor;
}
.order-table th {
  font-weight: bold;
}
.order-table td:first-child {
  font-weight: bold;
}

.order-table {
  width: auto;
}
.order-table th {
  background: black;
  color: white;
}
.order-table td {
  background: white;
}
.order-table input {
  font-weight: 400;
  font-size: 1.7rem;
  border: 1px solid currentColor;
  background: white;
  flex: 1;
  display: inline-flex;
  align-items: center;
  min-width: 0;
  padding: 1rem;
  margin: 0;
  appearance: none;
  color: black;
  font-family: inherit;
  -webkit-appearance: none;
}
@media all and (max-width: 400px) {
  .order-table input {
    width: 100%;
  }
}
.order-table input::placeholder {
  color: #cacaca;
}

@media all and (max-width: 600px) {
  .order-table [for=zc] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .order-table [for=zc] input {
    flex: 1 1 auto;
  }
}
.order-table {
  flex: 1 1 100%;
  width: 100%;
}
.order-table,
.order-table table,
.order-table tbody,
.order-table tfoot,
.order-table tr {
  display: block;
}
.order-table tr,
.order-table td,
.order-table th {
  margin: 0;
}
.order-table thead {
  display: none;
}
.order-table tr:not(:last-child) td:last-child {
  border-bottom-width: 0;
}
.order-table tr td:last-child {
  border-top-width: 0;
  padding-top: 0;
}
.order-table td {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.order-table td:not(:last-child) {
  border-width: 1px 1px 0;
}
.order-table td[data-header]::before {
  content: attr(data-header);
  margin: 0.5em 0.25em;
}
.order-table td[data-header]::before > * {
  flex: 0 1 100%;
}
.order-table p {
  margin: 1em 0.25em;
}

.order-table thead {
  display: none;
}
.order-table table > *:last-child tr:last-child {
  border-bottom-width: 1px;
}
.order-table table td:nth-child(1n+1) {
  padding: 1em;
}
.order-table tr {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 1px 1px 0;
  background: white;
}
.order-table tr:nth-child(even) {
  background: #fbfbfb;
}
.order-table td {
  border: none;
  flex: 1 1 100%;
}
.order-table tbody td {
  background: none;
}
.order-table tfoot td {
  flex: 1;
}
.order-table tfoot td:last-child {
  flex: 0 1 auto;
}
.order-table tbody td:first-child {
  padding: 1em 0;
  margin: 0 1em;
  border-bottom: 1px solid;
  font-weight: bold;
  order: -1;
}
.order-table tbody td:not(:first-child) {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: normal;
}
@media all and (min-width: 370px) {
  .order-table tbody td:not(:first-child) {
    flex: 1 1 80px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
  }
}
.order-table tbody td:not(:first-child)::before {
  content: attr(data-eflex--category-label);
  font-size: 80%;
  font-style: italic;
  color: gray;
}

.form__fieldset {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}
.form__fieldset > * {
  margin: 1rem;
}
.form__fieldset > * {
  flex: 1 1 15rem;
}

.form__city-state-zip {
  align-items: flex-end;
}
.form__city-state-zip .form__field-label {
  flex: 1 1 20rem;
}
.form__cvv .form__field {
  flex: 0 1 20rem;
}
.form__cvv .form__link {
  align-self: center;
  flex: 0 1 auto;
  padding: 1rem;
  margin: 0 1rem;
  font-size: 1.5rem;
}
.form__field-label {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
}
.form__field-label > * + * {
  margin-top: 0.5rem;
}
.form__field-label > * {
  flex: 1 1 100%;
}
.form__field-label label {
  font-size: 1.6em;
  order: -1;
}
.form__field-label .form__field {
  border: 1px solid currentColor;
  background: white;
}
.form__field-label .form__label {
  font-size: 1.6em;
  order: -1;
}
.form__field-label .form__contain {
  border: 0;
}

.form--icon-field-combobox .form__contain {
  border: 1px solid currentColor;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  min-height: 3.75em;
}
.form--icon-field-combobox .form__input {
  text-align: center;
  flex: 2 1 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  outline: 0;
  border: 0;
}
.form--icon-field-combobox .form__input, .form--icon-field-combobox .form__input[disabled] {
  opacity: 1;
}
.form--icon-field-combobox .form__input::-webkit-inner-spin-button, .form--icon-field-combobox .form__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.form--icon-field-combobox .form__button {
  flex: 1 1 4em;
  justify-content: center;
  max-width: 4em;
  min-height: 4em;
  font-size: 0.9em;
  outline: 1px solid currentColor;
  position: relative;
}
.form--icon-field-combobox .form__button::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: "";
  background: whitesmoke;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.form--icon-field-combobox .form__button > * {
  position: relative;
}
.form--icon-field-combobox .form__button:hover::before, .form--icon-field-combobox .form__button:focus::before {
  opacity: 1;
}

.form--label-combobox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -1rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.form--label-combobox > * {
  margin: 1rem;
}
.form--label-combobox .form__label {
  flex: 0 1 auto;
}
.form--label-combobox .form__contain {
  flex: 0 1 12em;
}

.form__checkbox-label {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.form__checkbox-label .form__label {
  display: flex;
}
.form__checkbox-label input[type=checkbox],
.form__checkbox-label input[type=radio] {
  opacity: 0;
  position: absolute;
  padding: 0;
}
.form__checkbox-label input[type=checkbox]:checked ~ .form__checkbox, .form__checkbox-label input[type=checkbox]:checked ~ .form__label > .form__checkbox,
.form__checkbox-label input[type=radio]:checked ~ .form__checkbox,
.form__checkbox-label input[type=radio]:checked ~ .form__label > .form__checkbox {
  background-image: url("data:image/svg+xml;charset=utf8,                        %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E                            %3Cpath fill='none' stroke-width='3px' stroke='green' d='M1.73,12.91 8.1,19.28 22.79,4.59'%3E%3C/path%3E                        %3C/svg%3E");
  background-size: 0.9em 0.9em;
  background-repeat: no-repeat;
  background-position: center;
}
.form__checkbox-label input[type=checkbox]:not(:checked) ~ .form__expando,
.form__checkbox-label input[type=radio]:not(:checked) ~ .form__expando {
  display: none;
}
.form__checkbox-label input[type=checkbox] ~ .form__checkbox,
.form__checkbox-label input[type=checkbox] ~ .form__label > .form__checkbox,
.form__checkbox-label input[type=radio] ~ .form__checkbox,
.form__checkbox-label input[type=radio] ~ .form__label > .form__checkbox {
  margin-right: 1rem;
}
.form__checkbox-label input[type=checkbox]:focus ~ .form__checkbox, .form__checkbox-label input[type=checkbox]:focus ~ .form__label > .form__checkbox,
.form__checkbox-label input[type=radio]:focus ~ .form__checkbox,
.form__checkbox-label input[type=radio]:focus ~ .form__label > .form__checkbox {
  outline: 3px solid;
}
.form__checkbox {
  display: block;
  -webkit-appearance: none;
  border: 1px solid currentColor;
  border-radius: 0.5rem;
  background: white;
  font-family: inherit;
  font-size: inherit;
  width: 2rem;
  height: 2rem;
  flex: 0 0 2rem;
  padding: 0;
  box-sizing: content-box;
  position: relative;
}

.form--select .form__contain {
  position: relative;
}
.form--select .form__field {
  height: 5rem;
  flex: 1;
}
@supports (height: auto) {
  .form--select .form__field {
    height: auto;
  }
}
.form--select .form__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 6rem;
  min-height: 0;
  margin: 2px;
  height: calc(100% - 4px);
  pointer-events: none;
  justify-content: center;
  background: transparent;
  border: 0;
  outline: 0;
  background: white;
}
.form--select .form__button::before {
  content: "";
  height: 100%;
  width: 1px;
  background: currentColor;
  position: absolute;
  left: 0;
  top: 0;
}

.icon--combobox {
  transform: rotate(0.75turn);
}

.message__group .message__label {
  display: inline-block;
}
.message__group .message__valid, .message__group .message__invalid {
  display: none;
  font-size: 1.5rem;
}
.message__group .message__valid::before, .message__group .message__invalid::before {
  content: /;
  margin-right: 0.5rem;
}
.message [data-required]:not(:placeholder-shown):valid {
  outline-color: green;
  border-color: green;
}
.message [data-required]:not(:placeholder-shown):valid ~ .message__group {
  color: green;
}
.message [data-required]:not(:placeholder-shown):valid ~ .message__group .message__valid {
  display: inline-block;
}
.message [data-required]:not(:placeholder-shown):valid ~ .message__group .message__invalid {
  display: none;
}
.message [data-required]:not(:placeholder-shown):invalid {
  outline-color: #c00;
  border-color: #c00;
}
.message [data-required]:not(:placeholder-shown):invalid ~ .message__group {
  color: #c00;
}
.message [data-required]:not(:placeholder-shown):invalid ~ .message__group .message__invalid {
  display: inline-block;
}
.message [data-required]:not(:placeholder-shown):invalid ~ .message__group .message__valid {
  display: none;
}
.message__is-valid {
  outline-color: green;
  border-color: green;
}
.message__is-valid ~ .message__group {
  color: green;
}
.message__is-valid ~ .message__group .message__valid {
  display: inline-block;
}
.message__is-valid ~ .message__group .message__invalid {
  display: none;
}
.message__is-invalid {
  outline-color: #c00;
  border-color: #c00;
}
.message__is-invalid ~ .message__group {
  color: #c00;
}
.message__is-invalid ~ .message__group .message__invalid {
  display: inline-block;
}
.message__is-invalid ~ .message__group .message__valid {
  display: none;
}
.message__is-invalid[data-required]:not(:placeholder-shown):valid {
  outline-color: #c00;
  border-color: #c00;
}
.message__is-invalid[data-required]:not(:placeholder-shown):valid ~ .message__group {
  color: #c00;
}
.message__is-invalid[data-required]:not(:placeholder-shown):valid ~ .message__group .message__invalid {
  display: inline-block;
}
.message__is-invalid[data-required]:not(:placeholder-shown):valid ~ .message__group .message__valid {
  display: none;
}

.validation-summary-errors {
  color: #c00;
}
.validation-summary-errors > span {
  display: block;
  border-bottom: 1px solid;
  padding-bottom: 1rem;
  margin: 0 0 1rem;
}
.validation-summary-errors > ul {
  list-style: none;
}
.validation-summary-errors > ul > * {
  display: list-item;
  break-inside: avoid;
}
.validation-summary-errors > ul > *:not(:last-child) {
  margin-bottom: 1rem;
}
.validation-summary-errors > ul > *::before {
  display: inline-block;
  content: "•";
  margin-left: -1em;
  width: 1em;
}
.validation-summary-errors li::before {
  background: none;
  color: currentColor;
}

.payment {
  font-size: 1rem;
}
.payment__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.16em;
  margin: -0.16em;
}
.payment__item {
  display: inline-block;
  flex: 0 1 4em;
  margin: 0.16em;
  max-width: 4em;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  align-items: center;
}
.payment__item--span {
  width: 100%;
  max-width: 17em;
  flex: 1 1 3.25em;
}
.payment img {
  display: block;
  max-width: 100%;
  margin: auto;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
}

.payment--form img {
  display: inline-block;
  flex: 0 1 4em;
  margin: 0.16em;
  max-width: 4em;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  align-items: center;
}
.payment--form img--span {
  width: 100%;
  max-width: 17em;
  flex: 1 1 3.25em;
}
.payment--form .payment__group {
  justify-content: flex-start;
}

/*# sourceMappingURL=payment.css.map */
